.List{
}

.List__title{
    font-size: 1rem;
    text-transform: uppercase;
    color: #676767;
}

.List > ul{
    margin:0;
    padding:0;
    list-style:none;

    & > li a:before{
        content: '\00bb';
    }

    & > li > a {
        display: inline-block;
        height: 100%;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
